__pycache__
.idea
/marl_venv
.venv
.ipynb_checkpoints
*.pkl
*.csv

dynare/docker/dynare_models/*

!dynare/docker/dynare_models/*.mod
.snakemake
data
dataset
.env
/marl_experiments
clearml.conf
outputs
