__pycache__
.idea
/marl_venv
.venv
.ipynb_checkpoints
*.pkl
*.csv

# Игнорировать все логи и рез-таты компилирования модели dynare
docker/julia_dynare/dynare_models/*

# Исключить файлы с определением самих моделей т.е. с расширением .mod
!docker/julia_dynare/dynare_models/*.mod
