black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
tqdm
typer
networkx
seaborn
scikit-learn
tabulate
cdlib
scipy
pyyaml
pre-commit
gymnasium
statsmodels
pandas_datareader
fire
-e .
